@import './base.css';

*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}
#app {
  max-width: 1168px;
  max-width: 1920px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
}

/*Flex*/
.f-row{
  display: flex;
  flex-direction: row;
}

.f-col{
  display: flex;
  flex-direction: column;
}

.f-center{
  justify-content: center;
  align-items: center;
}

.f-rcenter{
  justify-content: center;
}
.f-ccenter{
  align-items: center;
}
/*Font*/

.f80{
  font-size: 80px;
}
.f60{
  font-size: 60px;
}
.f48{
  font-size: 48px;
}
.f32{
  font-size: 32px;
}
.f18{
  font-size: 18px;
}
.f16{
  font-size: 16px;
}
.f14{
  font-size: 14px;
}

.f-dark-blue{
  color:#320A8D;
}
.f-light-blue{
  color:#6309FF;;
}

.ftb{
  font-weight: 700;
}


.f-al{
  text-align: left;
}
.f-ac{
  text-align: center;
}
.f-ar{
  text-align: right;
}
/*margin*/

.mt5{
  margin-top: 5px;
}
.mt10{
  margin-top: 10px;
}
.mt15{
  margin-top: 15px;
}
.mt20{
  margin-top: 20px;
}
.mt30{
  margin-top: 30px;
}
.mt40{
  margin-top: 40px;
}

.ml5{
  margin-left: 5px;
}
.ml10{
  margin-left: 10px;
}
.ml15{
  margin-left: 15px;
}
.ml20{
  margin-left: 20px;
}
.ml30{
  margin-left: 30px;
}
.ml40{
  margin-left: 40px;
}

.mr10{
  margin-right: 10px;
}

.ma{
  margin:auto;
}

.pdr10{
  padding-right: 10px;
}
.pd10{
  padding: 10px;
}

.w100{
  width:100%;
}
.w75{
  width:75%;
}
.w50{
  width:50%;
}
.w25{
  width:176px;
}

.h100{
  height:168px;
}

.h50{
  height:84px;
}

.h33{
  height:56px;
}

.d-in-r{
  display: inline-block;
  float:right;
}

.d-in-l{
  display: inline-block;
  float:left;
}

.brt{
  border-top:solid 2px lightgrey;
}

.brr{
  border-right:solid 2px lightgrey;
}